html,body{
  width: 100%;
  height: 100%;
}
ul,li{
  list-style: none;
}
*{
  margin: 0;
  padding: 0;
}
$bgcolor:#f2f2f2;
$bluecolor:#409EFF;
$greencolor:#67C23A;
$yelwcolor:#E6A23C;
$redcolor:#F56C6C;