@charset "UTF-8";
.generic-error {
  border: 1px solid #f00;
  color: #f00;
  /*直接调用error Mixins*/
}

.login-error {
  border: 3px solid #f00;
  color: #f00;
  /*调用error Mixins，并将$borderWidth参数重定义为3px*/
}

div p {
  color: #F56C6C;
}

div {
  font-family: 'pingfang';
  font-size: 1.6rem;
  font-weight: normal;
}

p {
  margin: 10px 5px;
  padding: 2px;
}

p {
  border: 1px solid #eee;
}
